<div class="container">
<h5>Update the Cohort information here:</h5>
<%= form_for @cohort do |f| %>  
    <%= f.label :name %>  
    <%= f.text_field :name, value: @cohort.name %>  
    <%= f.label :class_type %>  
    <%= f.text_field :class_type, value: @cohort.class_type %>
    <%= f.label :schedule %>  
    <%= f.text_field :schedule, value: @cohort.schedule %>
    <%= f.label :classroom %> 
    <%= f.text_field :classroom, value: @cohort.classroom %>
    <%= f.label :start_date %> 
    <%= f.date_field :start_date, value: @cohort.start_date, class: 'datepicker' %> 
    <%= f.label :end_date %> 
    <%= f.date_field :end_date, value: @cohort.end_date, class: 'datepicker' %>
    <%= f.label :instructor_id %> 
    <%= f.number_field :instructor_id, value: @cohort.instructor_id %>
    <%= f.label :picture %> 
    <%= f.text_field :picture, value: @cohort.picture %>  
    <button class="btn waves-effect waves-light grey" type="submit" id="form-main-button"><%= f.submit %></button>
<% end %>
</div>
