<div class="container">
    <div class="row">
        <div class="col s12"><h4><%= @cohort.name %> Cohort - <%= @course.title %> Course</h4></div>
        <div class="col s12 m4"><div class="main-picture-show" style="background-image: url(<%= @cohort.picture %>)"></div></div>
        <div class="col s12 m6">
            <h5>Start Date: <%= @cohort.start_date %></h5>
            <h5>End Date: <%= @cohort.end_date %></h5>
            <h5>Instructor: <%= @instructor.first_name %> <%= @instructor.last_name %></h5>
            <h5>Schedule: <%= @cohort.schedule %></h5>
            <h5>Classroom: <%= @cohort.classroom %></h5></div>
        <div class="col s12 m2">
            <a class="btn" href="./<%=@cohort.id %>/edit">Edit Cohort</a>
        </div>
    </div>
    <div class="row">
        <div class="col s12 m8"><h5>Cohort Students:</h5></div>
        <div class="col s12 offset-m2 m2"><a class="modal-trigger btn" href="#add-student-modal">Add Student</a></div>
        
    </div>
    <div class="row">
        <% @students.each do |student| %>
        <div class="col s6 m3">
        <div class="card-panel grey lighten-5 z-depth-1">
          <div class="row valign-wrapper">
            <div >
              <i class="medium material-icons">person</i>
            </div>
            <div >
              <span class="black-text"><a href="students/<%=student.id %>">
                <%= student.first_name %> <%= student.last_name %></a>
              </span>
            </div>
          </div>
          <div class="row valign-wrapper">
            <div class="btn">
              Remove
            </div>
          </div>
        </div>
      </div>
      <% end %>
    </div>
</div>

<div id="add-student-modal" class="modal">
    <div class="modal-content">
      <h4>Choose the students you want to add to <%= @cohort.name %> cohort:</h4>
        <%= form_tag :action => 'update', :id => @unassigned_students do %>
            <% @unassigned_students.each do |student| %>
                <p>
                <label>
                    <input type="checkbox" />
                    <span><%= student.first_name %> <%= student.last_name %></span>
                </label>
                </p>
             <% end %>
        <% end %>

    </div>
    <div class="modal-footer">
      <a href="#!" class="modal-close waves-effect waves-green btn-flat">Add</a>
    </div>
</div>