<p>Students!</p>
<div class="row">
<% @students.each do |student| %>
    <% @cohort = Cohort.find(student.cohort_id) %>
    <div class="col s12 m3">
        <div class="card">
            <div class="card-image waves-effect waves-block waves-light">
                <a href="students/<%=student.id %>" class="card-main-image" style="background-image: url()">
                </a>
            </div>
            <div class="card-content">
                <p><%= student.first_name %> <%= student.last_name %></p>
                <p>Cohort: <%= @cohort.name %></p>
                <p><a href="students/<%=student.id %>">Show Details</a></p>
                <p><a href="students/<%=student.id %>/edit">Edit</a></p>
                <p><a href="students/<%=student.id %>">Delete</a></p>
            </div>
        </div>
    </div>
    <% end %>
</div>