<div class="container">
<h5>Fill in this form to create a new instructor:</h5>
<%= form_for @instructor do |f| %>  
    <%= f.label :first_name %>  
    <%= f.text_field :first_name %>  
    <%= f.label :last_name %>  
    <%= f.text_field :last_name %>
    <%= f.label :email %>  
    <%= f.text_field :email %>
    <%= f.label :phone %> 
    <%= f.text_field :phone %>
    <%= f.label :userpic %> 
    <%= f.text_field :userpic %> 
    <%= f.label :birthday %> 
    <%= f.text_field :birthday %>
    <%= f.label :salary %> 
    <%= f.number_field :salary, min: 1 %>
    <%= f.label :education %> 
    <%= f.select :education, ['HS', 'College', 'Masters', 'PhD'] %>
    <button class="btn waves-effect waves-light grey" type="submit" id="form-main-button"><%= f.submit %></button>
<% end %>
</div>