<tr>
<%= form_for @user, remote: true do |f| %>
  <td class="field">
    <%= f.label :username %>
    <%= f.text_field :username, id: :user_username %>
  </td>

  <td class="field">
    <%= f.label :email %>
    <%= f.text_field :email, id: :user_email %>
  </td>

  <td class="field">
    <%= f.label :password %>
    <%= f.text_field :password, id: :user_password %>
  </td>

  <td class="field">
    <%= f.label :role %>
    <%= f.text_field :role, id: :user_role %>
  </td>

  <td class="field">
    <%= f.label :userpic %>
    <%= f.text_field :userpic, id: :user_userpic %>
  </td>

  <td class="actions">
    <%= f.submit %>
  </td>
<% end %>
</tr>