<div class="container">
<h5>Fill in this form to create a new course:</h5>
<%= form_for @course do |f| %>  
    <%= f.label :title %>  
    <%= f.text_field :title %>  
    <%= f.label :hours %>  
    <%= f.number_field :hours, min: 1 %>
    <%= f.label :description %>  
    <%= f.text_field :description, class:"thisismyphonenumbertag", id: "blah" %>
    <%= f.label :picture %>  
    <%= f.text_field :picture %>  
    <button class="btn waves-effect waves-light grey" type="submit" id="form-main-button"><%= f.submit %></button>
<% end %>
</div>
